div, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 15px monospace;
  background: #000;
  overflow: hidden;
}
body,
input,
select,
option {
  font: normal 15px monospace;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 80px 0 10px;
}

#disconnected {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(175, 175, 175, .7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 360ms ease-in-out;
  text-align: center;
  font-size: 32px;
}
  #disconnected:before {
    content: '';
    height: 100%;
  }
  #disconnected span,
  #disconnected:before {
    display: inline-block;
    vertical-align: middle;
  }

.disconnected #disconnected {
  opacity: 1;
  pointer-events: inherit;
}



.game {
  background: #000;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.game * {
  -pointer-events: none;
}

.game:before,
.game:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
  margin: -100px 0;
  background: transparent
              url(http://th04.deviantart.net/fs70/PRE/i/2013/130/f/0/asteroid_stock_3_by_fimar-d64qqfu.png)
              50% 50%
              repeat-x;
  background-size: contain;
}
.game:before {
  top: 0;
}
.game:after {
  bottom: 0;
}


#ui {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  z-index: 50;
  background: rgba(0, 80, 0, .8);
  border-left: 1px solid #000;
  color: #fff;
}

  #ui label {
    display: inline-block;
    margin-right: 10px;
  }
  #ui span {
    
  }
  
  #team {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px 0;
    background: rgba(255, 255, 255, .1);
  }
  
  #ui > .name {
    margin-top: 100px;
  }
  
  #ui .ships {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    font-size: 12px
  }
    #ui .ships li {
      position: relative;
      width: 50px;
      height: 50px;
      margin: 3px auto;
      cursor: pointer;
      text-align: center;
      background: rgba(25, 82, 25, 0);
      transition: background 140ms ease-in;
    }
    #ui .ships li:hover,
    #ui .ships li.selected {
      background: rgba(25, 82, 25, 1);
    }
      #ui .ships li * {
        pointer-events: none;
      }
      #ui .ships li .image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 2px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 64px;
        z-index: 10;
      }
      .team-1 #ui .ships li .image {
        transform: rotate(180deg);
      }
      #ui .ships li .name {
        position: absolute;
        top: 0;
        right: 100%;
        padding: 0 6px;
        height: 30px;
        line-height: 30px;
        white-space: nowrap;
        z-index: 5;
        background: rgba(25, 82, 25, 1);
        color: #fff;
        opacity: 0;
        transform: translateX(50%);
        transition: transform 140ms ease-in,
                    opacity 140ms ease-in;
      }
      #ui .ships li:hover .name {
        opacity: 1;
        transform: translateX(0%);
      }

#skills {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-bottom: 10px;
  font-size: 0;
  text-align: center;
}
  #skills li {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .7);
    background: rgba(255, 255, 255, .2);
  }
  #skills li.ready {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
  }
  #skills li .name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    font-size: 15px;
  }
  #skills li .cooldown {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow: hidden;
  }
    #skills li .cooldown > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    #skills li .cooldown span {
      z-index: 10;
      font-size: 12px;
    }
    #skills li.ready .cooldown span {
      display: none;
    }
    #skills li .cooldown b {
      z-index: 5;
      background: rgba(255, 255, 255, .3);
    }

.chat {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  width: 370px;
  height: 210px;
}
  .chat .input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, .7);
    border-top-width: 0;
  }
    .chat .input input {
      width: 100%;
      height: 100%;
      padding: 4px 6px;
      font-size: 0.8em;
      color: lime;
      box-sizing: border-box;
      background: transparent;
      border: none;
    }
    .chat .input input::selection {
      background: rgba(0, 255, 0, .8);
      color: rgba(0, 0, 0, 1);
    }
    .chat .input input:focus {
      outline: none;
    }
  .chat .window {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 5;
  }
  .chat .window.active {
    z-index: 10;
  }
    .chat .window .name {
      position: absolute;
      bottom: 100%;
      left: 10px;
      width: 80px;
      height: 26px;
      line-height: 24px;
      margin-bottom: -1px;
      padding: 0 4px;
      border: 1px solid rgba(255, 255, 255, .5);
      color: #fff;
      z-index: 10;
      border-radius: 1px 1px 0 0;
      cursor: pointer;
    }
    .chat .window .name:hover {
      background: rgba(255, 255, 255, .5);
      color: #000;
    }
    .chat .window.active .name,
    .chat.focused .window.active .name {
      height: 30px;
      line-height: 28px;
      background: rgba(0, 0, 0, .5);
      border-bottom-color: #000;
      pointer-events: none;
    }
    .chat .window:nth-child(3) .name {
      margin-left: 79px;
    }
    .chat .window:nth-child(4) .name {
      margin-left: 158px;
    }
    .chat .window:nth-child(5) .name {
      margin-left: 237px;
    }
    
    .chat .window .messages {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      padding-bottom: 4px;
      font-size: 0.8em;
      opacity: 0;
      border: 1px solid rgba(255, 255, 255, .5);
      background: rgba(0, 0, 0, .8);
      color: #fff;
      overflow-x: hidden;
      overflow-y: scroll;
      pointer-events: none;
      word-wrap: break-word;
      user-select: text;
      -webkit-user-select: text;
      -moz-user-select: text;
    }
    .chat .window.active .messages {
      opacity: 1;
      pointer-events: inherit;
    }
    .chat .window .messages::-webkit-scrollbar {
      width: 8px;
    }
    .chat .window .messages::-webkit-scrollbar-track {
      background-color: rgba(0, 255, 0, .1);
    }
    .chat .window .messages::-webkit-scrollbar-thumb {
      background-color: rgba(0, 255, 0, .2);
    }
 
      .chat .window .messages > div {
        padding: 3px 3px 0 3px;
        line-height: 1.4;
      }
      
      .chat .window .messages .header {
        white-space: nowrap;
        margin-right: 7px;
      }
        .chat .window .messages .timestamp {
        }
        .chat .window .messages .player {
        }
      .chat .window .messages .message {
        color: lime;
      }
        .chat .window .messages .message b {
          font-style: italic;
        }
      
      
      .chat .window .messages .server .header {
        color: #bbb;
      }
      .chat .window .messages .server .player:after {
        content: ':';
      }
      .chat .window .messages .server .message {
        color: #ccc;
        font-style: italic;
      }
      
.chat.focused .input,
.chat.focused .window .name,
.chat.focused .window .messages {
  border-color: rgba(255, 255, 255, 1);
}
.chat.focused .window .messages {
  background: rgba(0, 0, 0, .9);
}




.sprite .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sprite.projectile .content {
  border-radius: 50%;
}
.sprite .name {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  color: #fff;
  text-align: center;
  transform: translateZ(0);
}
.sprite .health {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  margin-top: 20px;
}

.sprite.enemy .name {
  color: #d00;
}