div, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 15px monospace;
}
body,
input,
select,
option {
  font: normal 15px monospace;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
  overflow: hidden;
}




.game {
  background: #000;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.game * {
  -pointer-events: none;
}


.sprite {
  
}
  .sprite .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
    .sprite .content:before {
      content: '';
      position: absolute;
      top: 50%;
      right: -2px;
      margin-top: -2px;
      width: 4px;
      height: 4px;
      background: #000;
    }
  .sprite .name {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    color: #fff;
    text-align: center;
    transform: translateZ(0);
  }
  .sprite .health {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    margin-top: 20px;
  }

.sprite.enemy .name {
  color: #d00;
}


#ui {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 50;
  background: rgba(0, 0, 0, .8);
  color: #fff;
}
  #ui label {
    display: inline-block;
    margin-right: 10px;
  }
  #ui span {
    
  }
  #ui select {
    
  }
    #ui option {
      padding: 6px;
      font-size: 1.5em;
    }

#skills {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-bottom: 10px;
  font-size: 0;
  text-align: center;
}
  #skills li {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .7);
    background: rgba(255, 255, 255, .2);
  }
  #skills li.ready {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
  }
  #skills li .name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    font-size: 15px;
  }
  #skills li .cooldown {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow: hidden;
  }
    #skills li .cooldown > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    #skills li .cooldown span {
      z-index: 10;
      font-size: 12px;
    }
    #skills li.ready .cooldown span {
      display: none;
    }
    #skills li .cooldown b {
      z-index: 5;
      background: rgba(255, 255, 255, .3);
    }

.chat {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  width: 370px;
  height: 210px;
}
  .chat .input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, .7);
    border-top-width: 0;
  }
    .chat .input input {
      width: 100%;
      height: 100%;
      padding: 4px 6px;
      font-size: 0.8em;
      color: lime;
      box-sizing: border-box;
      background: transparent;
      border: none;
    }
    .chat .input input:focus {
      outline: none;
    }
  .chat .window {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 5;
  }
  .chat .window.active {
    z-index: 10;
  }
    .chat .window .name {
      position: absolute;
      bottom: 100%;
      left: 10px;
      width: 80px;
      height: 26px;
      line-height: 24px;
      margin-bottom: -1px;
      padding: 0 4px;
      border: 1px solid rgba(255, 255, 255, .5);
      color: #fff;
      z-index: 10;
      border-radius: 1px 1px 0 0;
      cursor: pointer;
    }
    .chat .window .name:hover {
      background: rgba(255, 255, 255, .5);
      color: #000;
    }
    .chat .window.active .name,
    .chat.focused .window.active .name {
      height: 30px;
      line-height: 28px;
      background: rgba(0, 0, 0, .5);
      border-bottom-color: #000;
      pointer-events: none;
    }
    .chat .window:nth-child(3) .name {
      margin-left: 79px;
    }
    .chat .window:nth-child(4) .name {
      margin-left: 158px;
    }
    .chat .window:nth-child(5) .name {
      margin-left: 237px;
    }
    
    .chat .window .messages {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      font-size: 0.8em;
      opacity: 0;
      border: 1px solid rgba(255, 255, 255, .5);
      background: rgba(0, 0, 0, .5);
      color: #fff;
      overflow-x: hidden;
      overflow-y: auto;
      pointer-events: none;
      user-select: text;
      -webkit-user-select: text;
      -moz-user-select: text;
    }
    .chat .window.active .messages {
      opacity: 1;
      pointer-events: inherit;
    }
      .chat .window .messages > div {
        padding: 3px;
      }
      
      .chat .window .messages span {
        display: inline-block;
      }
      
      
      .chat .window .messages .header {
        margin-right: 7px;
        /*
        margin-right: 3px;
        padding: 2px 4px;
        background: rgba(255, 255, 255, .1);
        */
      }
        .chat .window .messages .timestamp {
        }
        .chat .window .messages .player {
        }
      .chat .window .messages .message {
        color: lime;
      }
        .chat .window .messages .message b {
          font-style: italic;
        }
      
      
      .chat .window .messages .server .header {
        color: #bbb;
      }
      .chat .window .messages .server .player:after {
        content: ':';
      }
      .chat .window .messages .server .message {
        color: #ccc;
        font-style: italic;
      }
      
.chat.focused .input,
.chat.focused .window .name,
.chat.focused .window .messages{
  border-color: rgba(255, 255, 255, 1);
}